@model Salon.Models.Stylist

<div class="main">
  <h1>@Html.DisplayFor(model => model.Name)</h1>

  <h3>Contact information</h3>
  <div class="contact">
    <p>@Html.DisplayNameFor(model => model.Address): @Html.DisplayFor(model => model.Address)</p>
    <p>@Html.DisplayNameFor(model => model.Phone): @Html.DisplayFor(model => model.Address)</p>
    <p></p>
    <p></p>
    <p></p>
  </div>
  <div class="contract-details">
    <p></p>
    <p></p>
  </div>
</div>